html,
body {
    height: 100%;
    width: 100%;
    background: #0f0f23;
    font-family: "Source Code Pro", monospace;
}
a {
    text-decoration: none;
    color: antiquewhite;
    text-shadow: 0 0 5px antiquewhite;
}
a:hover {
    color: #ffff00;
    font-style: normal;
    text-shadow: 0 0 1px antiquewhite;
}
a:visited {
    color: antiquewhite;
}
ul {
    padding: 0;
}
li {
    display: inline;
}
.container-custom {
    height: 100%;
    display: block;
}
.content {
    position: relative;
    height: 100%;
    width: 100%;
}
.textbox {
    height: 100%;
    width: 100%;
    color: whitesmoke;
    font-size: 14pt;
}
.center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center;
    height: 66.7%;
    width: 100%;
}
.spacer {
    position: relative;
    height: 33.3%;
    width: 100%;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer > .social {
    width: 50%;
    float: right;
}

.footer > .local-links {
    width: 50%;
    display: inline-block;
}

.footer > .social > ul {
    text-align: right;
}

.footer > .social > ul > li {
    padding-right: 1.5%;
}

.footer > .local-links > ul {
    text-align: left;
}

.footer > .local-links > ul > li {
    padding-left: 1.5%;
    font-size: 100%;
}

.div > #hero {
    min-height: 33%;
}

@media screen and (max-device-width: 320px) {
    .spacer {
        height: 16.5%;
    }
    .textbox {
        font-size: 32px;
    }
    main p {
        font-size: 48px;
    }

    .footer {
        height: 16.5%;
    }
}

@media screen and (max-device-width: 480px) {
    .spacer {
        height: 16.5%;
    }
    .container {
        font-size: 16em;
    }

    .textbox {
        font-size: 32px;
    }

    main p {
        font-size: 48px;
    }

    .footer {
        height: 8%;
        font-size: 50px;
    }

    .footer > .social > ul > li {
        padding-left: 5%;
    }
}

@media screen and (max-device-width: 720px) {
    .spacer {
        height: 16.5%;
    }
    .container {
        height: 100%;
        font-size: 16em;
    }

    .footer {
        height: 8%;
        font-size: 50px;
    }

    .footer > .social > ul > li {
        padding-left: 5%;
    }
}
