html,
body {
    height: 100%;
    width: 100%;
    background: #0f0f23;
    font-family: "Source Code Pro", monospace;
}
a {
    text-decoration: none;
    color: antiquewhite;
    text-shadow: 0 0 5px antiquewhite;
}
a:hover {
    color: #ffff00;
    font-style: normal;
    text-shadow: 0 0 1px antiquewhite;
}
a:visited {
    color: antiquewhite;
}
ul {
    padding: 0;
}
li {
    display: inline;
}
.container-custom {
    height: 100%;
    width: 33.3%;
    display: block;
}
.content {
    position: relative;
    height: 100%;
    width: 100%;
    color: whitesmoke;
    font-size: 1.5rem;
}
h3 {
    color: whitesmoke;
}

.footer {
    padding-top: 5%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer > .social {
    width: 50%;
    float: right;
}

.footer > .local-links {
    width: 50%;
    display: inline-block;
}

.footer > .social > ul {
    text-align: right;
}

.footer > .social > ul > li {
    padding-right: 1.5%;
}

.footer > .local-links > ul {
    text-align: left;
}

.footer > .local-links > ul > li {
    padding-left: 1.5%;
    font-size: 100%;
}

